# Visual Studio 관련 파일 무시
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# 빌드 관련 파일 무시
ipch/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.sdf
*.opensdf
*.db
*.cache

# 개인 설정 파일 무시
*.ncb
*.suo

# 바이너리 및 실행 파일 무시
*.exp
*.lib
*.exe
*.dll
*.pch

# CMake 관련 파일 무시 (필요하면 주석 해제)
# CMakeCache.txt
# CMakeFiles/
